<link href="@Url.Content("~/css/indexHome.css")" rel="stylesheet" />
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Soccer Social Network </h1>
    <h4>@ViewBag.msg</h4>
    <h5>@ViewBag.msgBloqueado</h5>
</div>
<div class="image">
    <img src="img/social.jpg"/>
</div>

