@{
    ViewData["Title"] = "Autores";
}

<h2>Universidad ORT Uruguay</h2>
<h4>@ViewData["Title"]</h4>

<ul>
    <li>
        Angel Vaz - N° 320162
    </li>
    <li>
        Rodrigo Cristaldo - N° 310992
    </li>
</ul>

<h4>Tutor</h4>

<ul>
    <li>
        Andres Ureta
    </li>
</ul>
